
h1 {
  background-color: red;
}

select {
  background-color: darkgrey;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 2px;
  width: 82%;
  border: none;
  margin: 2px;
  font-size: 15px;
  font-family: monospace;
}

input {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 2px;
  background-color: lightgrey;
  width: 80%;
  border: none;
  margin: 2px;
  font-size: 15px;
  font-family: monospace;
}

label {
    font-family: monospace;
    font-size: 15px;
    display: inline-block;
    width: 80%;
    text-align: right;
    margin: 2px;
}

button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: lightgrey;
  border: none;
  margin: 2px;
  padding: 4px;
}

#wrap {
  width: 1220px;
  margin: 0 auto;
}

#left-panel {
  width: 200px;
  height: 90vh;
  padding: 5px;
  background-color: grey;
  float: left;
}

#logo {
  font-size: 30px;
  font-family: monospace;
  margin-right: 30px;
  margin-left: 10px;
  background-color: green;
}

#logo1 {
  background-color: black;
  padding: 5px;
  color: white;
}

#middle-panel {
  width: 600px;
  height: 90vh;
  padding: 5px;
  overflow-y: scroll;
  background-color: black;
  color: white;
  float: left;
}
