
h1 {
  background-color: red;
}

select {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 2px;
  width: 98%;
  border: none;
  margin: 2px;
  font-size: 15px;
  font-family: monospace;
}

.clear {
  position: absolute;
  top:0;
  right:0;
  background-color: Transparent;
  outline:none;
  color: darkgrey;
  margin: 0;
  padding: 10px 15px;
}

.limit-range {
  padding: 10px 15px;
}

.to-range {
  padding: 0;
  margin: 0;
}

.total {
    position: absolute;
    bottom: 0;
}

.size-output {
    width: 150px;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px 15px;
}

.dark-grey {
  background-color: green;
  width: 100%;
  color: black;
}

input, textarea {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 3px;
  padding-left: 6px;
  background-color: lightgrey;
  width: 93%;
  border: none;
  margin: 2px;
  font-size: 15px;
  font-family: monospace;
}

textarea {
  height: 20em;
  font-family: monospace;
}

.playback {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 3px;
  padding-left: 6px;
  background-color: lightgrey;
  width: 98%;
  border: none;
  margin: 2px;
}

label {
    font-family: monospace;
    font-size: 15px;
    display: inline-block;
    width: 80%;
    text-align: center;
    padding: 8px;
    margin: 2px;
}

button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: lightgrey;
  border: none;
  margin: 2px;
  padding: 8px;
}

a, a:visited, a:active {
    color: white;
}

#wrap {
  width: 1220px;
  margin: 0 auto;
}

#left-panel {
  width: 200px;
  height: 90vh;
  padding: 5px;
  background-color: grey;
  float: left;
  position: relative;
}

#logo {
  font-size: 30px;
  font-family: monospace;
  margin-right: 30px;
  margin-left: 10px;
  background-color: green;
}

#logo1 {
  background-color: black;
  padding: 5px;
  color: white;
}

#middle-panel {
  width: 600px;
  height: 90vh;
  padding: 5px;
  overflow-y: scroll;
  background-color: black;
  color: white;
  float: left;
  position: relative;
}
