KafkaServer {
   org.apache.kafka.common.security.plain.PlainLoginModule required
   username="broker"
   password="admin-secret"
   user_broker="admin-secret"
   user_kafkabroker1="kafkabroker1-secret";
};

Client {
   org.apache.kafka.common.security.plain.PlainLoginModule required
   username="zookeeper"
   password="zkclient";
};
